Eigen Docset
=======================

* I'm [Jakub 'Eremiell' Marek](https://twitter.com/Eremiell)
* Complete instructions on how to generate the docset:
  * [List of prerequisites](https://github.com/Eremiell/doxydash/blob/Eigen/Brewfile)
  * [Initial HTML documentation for the docset](https://bitbucket.org/eigen/eigen/src/?at=${VERSION})
  * [How to run the generation script](https://github.com/Eremiell/doxydash/blob/Eigen/.travis.yml)
  * The docset is built automaticaly from Eigen GitHub repo checked out on latest release, and built via Doxygen on Travis, then deployed back to GitHub
* Early testing build, feedback welcome!