pqxx Docset
=======================

* I'm [Jakub 'Eremiell' Marek](https://twitter.com/Eremiell)
* Complete instructions on how to generate the docset:
  * [List of prerequisites](https://github.com/Eremiell/doxydash/blob/pqxx/Brewfile)
  * [Initial HTML documentation for the docset](https://github.com/jtv/libpqxx/tree/${VERSION})
  * [How to run the generation script](https://github.com/Eremiell/doxydash/blob/pqxx/.travis.yml)
  * The docset is built automaticaly from pqxx GitHub repo checked out on latest release, and built via Doxygen on Travis, then deployed back to GitHub
* Early testing build, feedback welcome!