Crypto++ Docset
=======================

* I'm [Jakub 'Eremiell' Marek](https://twitter.com/Eremiell)
* Complete instructions on how to generate the docset:
  * [List of prerequisites](https://github.com/Eremiell/doxydash/blob/Crypto++/Brewfile)
  * [Initial HTML documentation for the docset](https://github.com/weidai11/cryptopp/tree/${VERSION})
  * [How to run the generation script](https://github.com/Eremiell/doxydash/blob/Crypto++/.travis.yml)
  * The docset is built automaticaly from Crypto++ GitHub repo checked out on latest release, and built via Doxygen on Travis, then deployed back to GitHub
* Early testing build, feedback welcome!